<template>
    <div>
        
        <ul class="navigation">
            <li>
                <a href="#">Get Started</a>
            </li>
            <li>
                <a href="#">Concepts</a>
            </li>
            <li>
                <a href="#">Features</a>
            </li>
        </ul>
        
        <Nuxt />
    </div>
</template>

<script>
    export default {
        name:'NavigationLeft'
    }
</script>

<style scoped>
.navigation{
    list-style-type: none;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

a{
    color:white;
}

</style>